<table>
    <% @rushes.each do |rush| %>
        <tr>
    	<% if rush.openrush %>
        	<td><%= rush.openrush.name %></td>
        	<td><%= rush.openrush.residence %></td>
    	<% else %>
        	<td><%= rush.name %></td>
        	<td><%= rush.residence %></td>
    	<% end %>
        </tr>
    <% end %>
</table>