<h3>You are logged in as:</h3>
<h1>><%= @user.name %>.</h1>
<p>Nothing to see here.</p>
<input type='button' class='btn btn-large' value='Return to home' onclick='window.location = "/"'/>
<!-- <li><%= @user.email %></li>
<% if @user.phone  %>
<li><%= @user.phone %></li>
<% end %>
</ul> -->