<section class='edit_event'>
    <%= javascript_include_tag :defaults, "jquery.timePicker.min" %> 
    <%= stylesheet_link_tag "application", "timePicker" %>  
    <h1>Edit event</h1>
    <%= render 'form' %>
</section>