<section class='new_event'>
    <%= javascript_include_tag :defaults, "jquery.timePicker.min" %> 
    <%= stylesheet_link_tag "application", "timePicker" %>  
    <h1>New event</h1>
    <%= render 'form' %>
</section>