<section class='home'>
    <center>
        <img class='penn' src='/assets/penn-logo.png'/>
        <div class='name'>
            <h1>Sigma Nu Rush 2013</h1>
            <h3>Beta Rho</h3>
        </div>
        <img class='sigmanu' src='/assets/sigma-nu.png'/>
    </center>
    <section class='container'>
        <article class='rushes'>
            <h3>Connect with rushes</h3>
            <p>You should invite these people to lunch or something.. just saying.</p>
            <ul>
                <li><img src='http://confluencemedia.com/wp-content/uploads/2011/03/2011-03-12-twitter-egg.png' class='avatar'/><a>Brandon</a> <span>(512) 325 - 5235</span></li>
                <li><img src='http://confluencemedia.com/wp-content/uploads/2011/03/2011-03-12-twitter-egg.png' class='avatar'/><a>Joe</a></li>
                <li><img src='http://confluencemedia.com/wp-content/uploads/2011/03/2011-03-12-twitter-egg.png' class='avatar'/><a>Sam</a></li>
                <li><img src='http://confluencemedia.com/wp-content/uploads/2011/03/2011-03-12-twitter-egg.png' class='avatar'/><a>Random Person</a></li>
            </ul>
        </article>
        <article class='event'>
            <header>
                <h3>Civy</h3>
                <p class='date'>Thu (10/28)</p>
            </header>
            <div class='details'>
                <p>10:30pm - 2:00am</p>
                <p>There will be root beer. Please set up by 8:00 and invite rushes.</p>
                <img class='photo' src='http://dictionaryproject.files.wordpress.com/2012/04/t300-red_solo_cup.jpg?w=500'/>
                <div class='invited'>
                    <p>20 rushes invited</p>
                    <ul>
                        <li><a>Brandon</a></li>
                        <li><a>Joe</a></li>
                        <li><a>Sam</a></li>
                        <li><a>Random Person</a></li>
                    </ul>
                <input type='button' class='btn btn-success' value='invite'/>
                </div>
            </div>
        </article>
        <article class='event'>
            <header>
                <h3>Civy</h3>
                <p class='date'>Thu (10/28)</p>
            </header>
            <div class='details'>
                <p>10:30pm - 2:00am</p>
                <p>There will be root beer. Please set up by 8:00 and invite rushes.</p>
                <img class='photo' src='http://dictionaryproject.files.wordpress.com/2012/04/t300-red_solo_cup.jpg?w=500'/>
                <div class='invited'>
                    <p>20 rushes invited</p>
                    <ul>
                        <li><a>Brandon</a></li>
                        <li><a>Joe</a></li>
                        <li><a>Sam</a></li>
                        <li><a>Random Person</a></li>
                    </ul>
                <input type='button' class='btn btn-success' value='invite'/>
                </div>
            </div>
        </article>
    </section>
</section>