<section class='home'>
    <center>
        <img class='penn' src='/assets/penn-logo.png'/>
        <div class='name'>
            <h1>Sigma Nu Rush 2013</h1>
            <h3>Beta Rho</h3>
        </div>
        <img class='sigmanu' src='/assets/sigma-nu.png'/>
        <br /><br /><br /><br />
        <h3>Get started if you are a brother</h3>
        <a href='/auth/facebook'><img src='/assets/fblogin.png'/></a>
    </center>
</section>