// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_event, .edit_event{
    width: 400px;
    margin: 0 auto;
    h1{
        margin-left: 100px;
        margin-bottom: 20px;
    }
    form{
        margin-left: -50px;
    }
    .btn{
        margin-left: 300px;
    }
    textarea{
        font-size: 16px;
        width: 350px;
        height: 120px;
        resize: none;
    }
    .ui-datepicker-trigger{
        height: 30px;
        &:hover{
            cursor: pointer;
        }
    }
}

.events{
    center{
        position:relative;
        top: 20px;
    }
    .add_event{
        position:relative;
        top: -50px;
        left: 130px;
    }
}
