// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "default";

.home{
    center{
        padding-top: 20px;
        margin: 0 auto;
        overflow: auto;
        clear: both;
        width: 750px;
    }
    .penn{
        float: left;
        margin-left: 30px;
        height: 120px;
        width: auto;
        position: relative;
        top: 0px;
    }
    .name{
        float:left;
        margin: 10px 50px;
        h1{
            text-shadow: 0px 2px 2px white;
        }
        h3{
            color: darken($accentColor, 15);
            text-shadow: 0px 1px 2px white;
        }
    }
    .sigmanu{
        float: left;
        height: 160px;
        width: auto;
        position: relative;
        top: -20px;
    }

    .container{
        padding: 20px 0px;
        border-top: 3px solid rgba(255,255,255,0.7);
        border-left: 1px solid white;
        border-right: 1px solid white;
        background: rgba(0,0,0,0.01);
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.01)), to(rgba(0,0,0,0.03)));
        box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.35);
        border-radius: 5px;
        width: 850px;
        min-height: 500px;
        margin-bottom: 30px;
    }

    .rushes{
        position: relative;
        margin: 0px auto;
        width: 600px;
        h3{
            margin: 0px;
        }
        p{
            color: #666;
        }
        ul{
            list-style: none;
            li{
                padding: 5px;
            }
        }
        a{
            font-size: 18px;
        }
        .avatar{
            height: 50px;
            width: auto;
            margin-right: 10px;
        }
        span{
            color: #666;
            margin-left: 10px;
            font-size: 16px;
        }
    }

    .add_rush{
        position: absolute;
        right: -100px;
        top: 0px;
    }
}

.event{
    position: relative;
    padding: 10px;
    margin: 20px auto;
    width: 600px;
    height:300px;
    background: #FCFCFC;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
    header{
        margin: 0px 20px;
        border-bottom: 1px solid lighten($accentColor, 10);
        overflow: auto;
    }
    h3{
        float: left;
        margin: 5px 0px;
    }
    .date{
        font-size: 20px;
        font-weight: bold;
        float: right;
        margin-top: 15px;
    }
    .details{
        margin: 15px 20px 0px;
    }
    p{
        font-size: 18px;
    }
    .photo{
        float:left;
        margin: 10px; 
        height:100px; 
        width: auto;
    }
    .invited{
        float:right;
        padding: 15px;
        p{
            font-weight: bold;
            font-size: 16px;
        }
        ul{
            margin-left: 20px;
        }
        input{
            float: right;
        }
    }
    
    .edit_event{
        float: right;
        margin-top: 10px;
        margin-left: 10px;
    }
}