// Place all the styles related to the Rushes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "default";


.rush {
    background: lighten($bgColor, 2);
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.4); 
    padding: 10px 20px;
    margin: 0px;
    border-radius: 5px;
    margin-bottom: 30px;
    clear:both;
    position:relative;
    h1{
        margin: 10px 0px 20px;
    }
    .rank{
        float:right;
        position:absolute;
        right: 25px;
        top: 15px;
        display:inline;
        color: $accentColor;
    }
    .photo_container{
        float:left;
        width: 400px;
        height:400px;
        position:relative;
    }
    .background{
        border-radius: 5px;
        width: 100%;
        height: 100%;
        position:absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        background: #DDD;
        box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.4);
    }
    .photo{
        border-radius: 5px;
        width: 100%;
        height: 100%;
        z-index: 2;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position:center;
    }

    .info{
        float:left;
        max-width: 450px;
        h3{
            line-height: 1;
            margin:5px 0px;
            font-size: 18px;
        }
        dd{
            color: $secondaryColor;
            font-size: 18px;
            padding: 5px 0px;
        }
        dl{
            margin:0px;
        }
        .chilltopull{
            clear: both;
            margin-left: 20px;
            span{   
                color: $mainColor;
                font-size: 24px;
                padding: 10px 5px;
            }
            .chill{float:left}
            .pull{float:right}
        }
        .progress{
            border: 1px solid #AAA;
            margin-left: 20px;
            width: 400px;
            height:30px;
            .bar { 
                height:30px;
                float: left;
            }
            p{
                font-size: 14px;
                color: black;
                margin-top: 5px;
            }
            .bar-success { background: #62c462;}
        }
        .friendswith, .attended{
            margin-left: 20px;
            margin-top: 10px;
            overflow:auto;
            ul{
                margin: 0px 10px;
                list-style: none;
                li{
                    padding: 5px 10px;
                    float:left;
                    a{
                        font-size: 18px;
                        &:hover{
                            cursor:pointer;
                        }
                    }
                }
            }
        }
        .friend_form{
            display: none;
        }
        .token-input-list-facebook{
            width: 380px;
        }
        .friend-btn{
            position:relative;
            float: right;
        }
        .friend-cancel-btn{
            margin: 5px 10px;
        }
    }

    .comments{
        overflow:auto;
        width:100%;
        padding-top: 30px;
        textarea{
            font-size: 16px;
            width: 500px;
            height: 80px;
            resize: none;
        }
        blockquote{
            overflow: hidden;
            width: 600px;
            border-left: 5px solid #0BC;
            p{
                word-wrap:break-word;
            }
            a{
                font-weight: bold;
                padding-right: 10px;
            }
            .edit_new_rush_comment{
                display: none;
                textarea{
                    width: 400px;
                }
            }
            button{
                font-weight:bold;
            }
        }
        .new_comment{
            margin-left: 10px;
            margin-top: 20px;
        }
    }

    .new_rush_comment{
        float:left;
    }
    .slider_container{
        position:relative;
        width: 270px;
        margin-bottom: 10px;
        margin-left: 30px;
        float:left;
        b{
            font-size: 16px;
        }
        p{
            float:left;
            width: 30px;
            margin-top: 2px;
        }
        .results{
            margin-left: 20px;
            font-size: 18px;
            font-weight: bold;
        }
        .btn{
            float:right;
            margin-right: 50px;
        }
    }
    /*the slider background*/
    .slider {
        float:left;
        width:150px;
        height:11px;
        background: #FFF;
        position:relative;
        margin:0;
        margin-top: 5px;
        padding:0 10px;
    }
 
    /*Style for the slider button*/
    .ui-slider-handle.ui-state-default {
        border: 1px solid rgba(0,0,0,0.4);
        background-image: linear-gradient(top, #FFF, #AAA);
        background-image: -webkit-linear-gradient(top, #FFF, #DDD);
    }
 
    /*This is the fill bar colour*/
    .ui-widget-header {
        height:8px;
        left:1px;
        top:1px;
        position:absolute;
    }
    .slider_chill{
        .ui-widget-header{
            background-image: linear-gradient(top, #049CDB, #0064CD);
            background-image: -webkit-linear-gradient(top, #049CDB, #0064CD);
        }
    }
    .slider_pull{
        .ui-widget-header{
            background-image: linear-gradient(top, #62C462, #57A957);
            background-image: -webkit-linear-gradient(top, #62C462, #57A957);
        }
    }

}

.mpl{
    h1{
        width: 400px;
    }
    .add_rush{
        position:relative;
        top: -50px;
        left: 380px;
    }
    .form-search{
        position:relative;
        top: -20px;
        input{
            width: 200px;
        }
    }
    table{
        margin-top:-20px;
        width: 600px;
        tr{
            &.header{
                &:hover{
                    background: none;
                }
            }
            &:hover{
                background: rgba(0,0,0, 0.1);
                cursor: pointer;
            }
        }
    }
}

.new_rush{
    width: 400px;
    margin: 0 auto;
    h1{
        margin-left: 100px;
        margin-bottom: 20px;
    }
    form{
        margin-left: -50px;
    }
    .btn{
        margin-left: 300px;
    }
}
